<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="stylesheet.css">
	<title>ordering</title>
</head>
<body>
	<div id="top">
		<h4><em>Student</em></h4>
	</div>
	<div class="dropdown" id="dropdown-button">
		<button class="btn btn-default btn-sm" type="button" data-toggle="dropdown" id="dropdown-content">
		<span class="glyphicon glyphicon-option-vertical"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="#">Login</a></li>
			<li><a href="{{url}}">Logout</a></li>
		</ul> 	
	</div>
	<div id="msg">
		{% for obj in objs %}
				{% if obj.bot %}
				<div class="space">
					<div class="bot">{{obj.message}}</div>
				</div>
				<br>
				{% elif obj.human %}
				<div class="space">
					<div class="human">{{obj.message}}</div>
				</div>	
				<br>
				{% endif %}
			{%endfor%}
	</div>
	<div>
		<form action="/submittform" method="post" class="submission">
			<p class="input-group">
				<input name='content' type="text" class="form-control"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">Order</button>
				</span>
			</p>
		</form>
	</div>
	<div id="navigation">
		<button type="button" class="btn btn-default btn-lg" aria-label="Right Align" id="bot">
			<a class="tabs" href="#">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default btn-lg" aria-label="Right Align" id="queues">
			<a class="tabs" href="#">
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default btn-lg" aria-label="Right Align" id="logs">
			<a class="tabs" href="#">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default btn-lg" aria-label="Right Align" id="savings">
			<a class="tabs" href="#">
				<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
			</a>
		</button>
	</div>
</body>
</html>